body {
    margin: 0;
    padding: 0;
    font-family: "Tahoma", sans-serif;
    font-size: 14px;
    letter-spacing: 0.07em;
}
table,
tbody,
thead{
    width: 900px;
    z-index: 50;
}
tr {
    display: table-row;
}
td,th {
    display: table-cell;
    position: relative;
    outline: 0;
}
a {
    text-decoration: none;
    color: #222222;
    cursor: default;
}


.table_item--width1 {
    width: 60px;
}
.table_item--width2 {
    width: 100px;
}
.table_item--width3 {
    width: 130px;
}
.table_item--width4{
    width: 125px;
}
.table_item--width5 {
    width: 115px;
}
.table_item--width6 {
    width: 125px;
}
.table_item--width7 {
    width: 130px;
}
.table_item--width8 {
    width: 115px;
}

.wrap {
    padding: 10px 0;
    margin: 0 auto;
    width: 900px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #222;
    padding: 20px 10px 30px;
    text-transform: uppercase;
}

.info {
    padding: 20px 0;
}

.info_form {
    color: #727071;
    font-size: 17px;
    padding: 10px;
}

.info_table {
    overflow: hidden;
    text-align: center;
    border-collapse: collapse;
    color: #727071;
    z-index: 1;
    display: table;
}


tr,
.scroll_header {
   display: table-row;
}
.table_item_row:nth-child(odd){
    background-color: #ffffd0;
}

.table_item,
.table_item_header,
.table_item_row:hover:nth-child(odd)>td{
    border: 1px solid #e1e1e1;
}

body tbody tr:hover {
    background-color: #e8fdf7;


}

.table_item:hover,
.table_item_row:hover:nth-child(odd) td{
    background-color: #e8fdf7;
    border: 1px solid #e8fdf7;

}
.info table tr:hover td,
.info table tr:hover:nth-child(odd) td {
    border: 1px solid #e8fdf7;
}

.table_item_row td:hover,
.table_item_row:nth-child(odd) td:hover{
    background-color: lightblue;
}

td:hover::after,
th:hover::after {
    background-color: #ffffd0;
}

.table_item,
.table_item_header,
.table_item_row:hover:nth-child(odd)>td{
    border: 1px solid #e1e1e1;
}


td:hover::after,
thead th:not(:empty):hover::after,
td:focus::after,
thead th:not(:empty):focus::after
 {
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}



.scroll_header{
    position: fixed;
    top: 0;
    visibility: visible;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.table_head {
    background-color: #00acdb;
    color: #fff;
    z-index: 100;
}

.scroll_header:hover tr,
.scroll_header:hover {
    background-color: #00acdb;
}
.scroll_header th:hover::after {
    opacity: 0;

}

.img_departure {
    background: url("img/icon-plane.png")no-repeat left bottom;
    width: 24px;
    height: 19px;
    margin: 10px auto;
    display: block;
}

.img_arrival{
    display: block;
    background: url("img/icon-plane.png")no-repeat right bottom;
    width: 24px;
    height: 19px;
    margin:auto;
}


#arrival:not(:checked)  ~ .info > table > tbody > .arrival td{
    display: none;
}
#departure:not(:checked)  ~ .info > table > tbody > .departure td{
    display: none;
}


.icon_lufthansa {
    background: url("img/lufthansa.jpg") no-repeat 50% 50%;
}
.icon_orenburg {
    background: url("img/orenburg_airlines.jpg") no-repeat 50% 50%;
}
.icon_yakutia {
    background: url("img/yakutia.jpg") no-repeat 50% 50%;
}
.icon_turkish {
    background: url("img/turkish_airlines.jpg") no-repeat 50% 50%;
}

.name_company {
    display: none;
}


.wrap_info_window {
   display: none;
}

.info_popup {
    display: none;
}




@media (min-width: 820px) and (max-width: 900px) {

    .wrap{
        width: 790px;
    }

    table,
    thead,
    tbody{
        width: 790px;
    }


    .table_item--width8 {
        display: none;
    }


    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .wrap_info_window {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        background-color:  rgba(0,0,0,0.5);
        z-index: 110;
        cursor: default;
    }

    .info_popup {
        top: -100%;
        right: 0;
        left: 50%;
        width: 55%;
        max-width: 450px;
        min-width: 250px;
        position: fixed;
        font-size: 1em;
        display: block;
        margin: 0;
        z-index: 120;
        padding: 15px;
        background-color: lightgrey;
    }

    .wrap_info_window:target {
        display: block;
    }
    .wrap_info_window:target+.info_popup {
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        top: 20%;
    }



}
@media (min-width: 700px) and (max-width: 819px) {

    .wrap {
        width: 665px;
    }

    table,
    thead,
    tbody {
        width: 665px;
    }

    .table_item--width4,
    .table_item--width8 {
        display: none;
    }
    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .wrap_info_window {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        background-color:  rgba(0,0,0,0.5);
        z-index: 110;
        cursor: default;
    }

    .info_popup {
        top: -100%;
        right: 0;
        left: 50%;
        width: 55%;
        max-width: 450px;
        min-width: 250px;
        position: fixed;
        font-size: 1em;
        display: block;
        margin: 0;
        z-index: 120;
        padding: 15px;
        background-color: lightgrey;
    }

    .wrap_info_window:target {
        display: block;
    }
    .wrap_info_window:target+.info_popup {
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        top: 20%;
    }



}
@media (min-width: 600px) and (max-width: 699px) {

    .wrap {
        width: 540px;
    }

    table,
    thead,
    tbody {
        width: 540px;
    }

    .table_item--width3,
    .table_item--width4,
    .table_item--width8 {
        display: none;
    }

    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .wrap_info_window {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        background-color:  rgba(0,0,0,0.5);
        z-index: 110;
        cursor: default;
    }

    .info_popup {
        top: -100%;
        right: 0;
        left: 50%;
        width: 55%;
        max-width: 450px;
        min-width: 250px;
        position: fixed;
        font-size: 1em;
        display: block;
        margin: 0;
        z-index: 120;
        padding: 15px;
        background-color: lightgrey;
    }

    .wrap_info_window:target {
        display: block;
    }
    .wrap_info_window:target+.info_popup {
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        top: 20%;
    }



}

@media (min-width: 430px) and (max-width: 599px) {

    .wrap {
        width: 415px;
    }

    table,
    thead,
    tbody {
        width: 415px;
    }

    .table_item--width3,
    .table_item--width4,
    .table_item--width5,
    .table_item--width8 {
        display: none;
    }

    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .wrap_info_window {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        background-color:  rgba(0,0,0,0.5);
        z-index: 110;
        cursor: default;
    }

    .info_popup {
        top: -100%;
        right: 0;
        left: 50%;
        width: 55%;
        max-width: 450px;
        min-width: 250px;
        position: fixed;
        font-size: 1em;
        display: block;
        margin: 0;
        z-index: 120;
        padding: 15px;
        background-color: lightgrey;
    }

    .wrap_info_window:target {
        display: block;
    }
    .wrap_info_window:target+.info_popup {
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        top: 20%;
    }


}

@media (max-width: 439px) {

    .wrap {
        width: 320px;
        min-width: 320px;
    }

    table,
    thead,
    tbody {
        width: 285px;
        min-width: 285px;

    }

    .table_item--width3,
    .table_item--width4,
    .table_item--width5,
    .table_item--width7,
    .table_item--width8 {
        display: none;
    }

    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .wrap_info_window {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        background-color:  rgba(0,0,0,0.5);
        z-index: 110;
        cursor: default;
    }

    .info_popup {
        top: -100%;
        right: 0;
        left: 50%;
        width: 55%;
        max-width: 450px;
        min-width: 250px;
        position: fixed;
        font-size: 1em;
        display: block;
        margin: 0;
        z-index: 120;
        padding: 15px;
        background-color: lightgrey;
    }

    .wrap_info_window:target {
        display: block;
    }
    .wrap_info_window:target+.info_popup {
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        top: 20%;
    }



}
